<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/exercises.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Упражнения на {{ date }}</title>
    <script src="/static/js/day.js" defer></script>
</head>
<body>
    <header>
        <h1>Упражнения на {{ date }}</h1>
        <a href="/" class="back-button">← Вернуться на календарь</a>
    </header>
    <main>
        <div class="exercise-block" data-exercise="squats">
            <img src="/static/images/squats.png" alt="Приседания">
            <h2>Приседания</h2>
            <div class="input-group">
                <input type="number" min="1" placeholder="к-ство">
                <button>+</button>
            </div>
            <p><span class="result_t">Результат:</span><span class="result">0</span></p>
            <div class="progress-wrapper">
                <div class="progress-bar">
                    <div class="progress-bar-fill" style="width: 0%;"></div>
                </div>
            </div>
        </div>
        <div class="exercise-block" data-exercise="pushups">
            <img src="/static/images/pushups.png" alt="Отжимания">
            <h2>Отжимания</h2>
            <div class="input-group">
                <input type="number" min="1" placeholder="к-ство">
                <button>+</button>
            </div>
            <p><span class="result_t">Результат:</span><span class="result">0</span></p>
            <div class="progress-wrapper">
                <div class="progress-bar">
                    <div class="progress-bar-fill" style="width: 0%;"></div>
                </div>
            </div>
        </div>
        <div class="exercise-block" data-exercise="press">
            <img src="/static/images/press.png" alt="Пресс">
            <h2>Пресс</h2>
            <div class="input-group">
                <input type="number" min="1" placeholder="к-ство">
                <button>+</button>
            </div>
            <p><span class="result_t">Результат:</span><span class="result">0</span></p>
            <div class="progress-wrapper">
                <div class="progress-bar">
                    <div class="progress-bar-fill" style="width: 0%;"></div>
                </div>
            </div>
        </div>
        <div class="exercise-block" data-exercise="expander">
            <img src="/static/images/expander.png" alt="Эспандер">
            <h2>Эспандер</h2>
            <div class="input-group">
                <input type="number" min="1" placeholder="к-ство">
                <button>+</button>
            </div>
            <p><span class="result_t">Результат:</span><span class="result">0</span></p>
            <div class="progress-wrapper">
                <div class="progress-bar">
                    <div class="progress-bar-fill" style="width: 0%;"></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
